tmp
storage.db
data

node_modules
target
dist
logs
.cache
.vscode
.DS_Store
.idea 
.next
yarn-error.log
npm-debug.log
.env
backend/internal/database/storage.db
run.dev.sh
frontend/public/googleae4da882535ae8ac.html
